<html ng-app="listaTelefonica">

  <head>
    <meta charset="utf-8">
    <title>Lista telefonica</title>

    <!-- Links CSS -->
    <link rel="stylesheet" href="template/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="template/css/style.css">

    <!-- Scripts -->
    <script src="template/lib/js/angular.js"></script>
    <script src="template/js/app.js"></script>
    <script src="template/js/controllers/listatelefonicaController.js"></script>
  </head>


  <body ng-controller="listaTelefonicaController">
    <center>
      <div class="jumbotron">
        <!-- Título -->
        <h3>{{app}}</h3>

        <!-- Tabela -->
        <table ng-if="contatos.length > 0" class="table table-striped table-hover table-condensed" border="1">
          <tr class="success">
            <th>Seletor</th><th>Nome</th><th>Telefone</th>
          </tr>
          <tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
            <td class="success"><input type="checkbox" ng-model="contato.selecionado"></td>
            <td class="success">{{contato.nome}}</td>
            <td class="success">{{contato.telefone}}</td>
          </tr>
        </table>

        <!-- Inputs -->
        <br>
        <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"><br>
        <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"><br>
          <!-- Informação dinâmica -->
          <span><b><i>{{contato.nome+ ' - ' + contato.telefone}}</b></i><span><br><br>

        <!-- Comandos -->
        <button class="btn btn-lg btn-primary" ng-disabled="!contato.nome || !contato.telefone" ng-click="addContato(contato)">
          Adicionar Contato
        </button>
        <button class="btn btn-lg btn-danger" ng-if="contatos.length > 0" ng-click="delContato(contatos)">
          Deletar Contato
        </button><br>

        </div>
    </center>
  </body>
</html>
