<html ng-app="clienteListaTarefas">

  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Links CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"/>
    <script src="{{ url_for('static', filename='lib/js/angular.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/app.js')}}"></script>

  </head>

<body>
    {% block controller %}
    {% endblock %}
      <!-- Entradas de dados -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="#">;)</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            {% block nav %}
            {% endblock %}
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <!-- Campo de pesquisa -->
                <input class="form-control" type="text" ng-model="busca" placeholder="Pesquisar"/><br>
              </div>
            </form>
          </div>
        </div>
      </nav>

      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              {% block modalheader %}
              {% endblock %}
            </div>
            <div class="modal-body">
              {% block modalbody %}
              {% endblock %}
            </div>
            <div class="modal-footer">
              {% block modalfooter %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
  {% block content %}

  {% endblock %}
  <!-- Scripts -->

  {% block scripts %}
  {% endblock %}
</body>
</html>
