{% extends "base.html" %}

    {% block title %}Gerenciador de categorias{% endblock %}

{% block controller %}
<div ng-controller="controlador_categorias">
  <center>
    <div class="jumbotron">
      <main>
        <h3 ng-if="categorias.length > 0">Gestão de categorias</h3><br>

        <!-- Se não houverem dados -->
        <div ng-if="categorias.length == 0">
          <h2>Crie sua primeira categoria e vamos começar \o/</h2>
        </div>

        <!-- Apenas se houverem categorias -->
        <div ng-if="categorias.length > 0">
{% endblock %}

          {% block nav %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="" data-toggle="modal" data-target=".bs-example-modal-lg">Adicionar</a></li>
            <li class="active"><a href="" ng-if="categorias.length > 0" ng-click="delCategoria(categorias)">Excluir</a></li>
            <li class="active"><a href="{{ url_for('index') }}">Gerenciar Tarefas</a></li>
          </ul>
          {% endblock %}

          {% block modalheader %}
          <h3>Adicionar Categoria</h3>
          {% endblock %}

          {% block modalbody %}
          <input class="form-control" type="text" ng-model="categoria.nome" placeholder="Nome" /><br/>
          <input class="form-control" type="text" ng-model="categoria.descricao" placeholder="Descrição"/><br/>

          {% endblock %}

          {% block modalfooter %}
          <!-- Informação dinâmica -->
          <button class="btn btn-lg btn-primary" ng-disabled="!categoria.nome || !categoria.descricao" ng-click="addCategoria(categoria)" data-dismiss="modal">
            Adicionar Categoria
          </button>
          {% endblock %}

{% block content %}
          <!-- Tabela principal -->
          <table class="table table-striped table-hover table-condensed" border="1">
            <tr>
              <th class="success">Seletor</th>
              <th class="success"><a href='' ng-click="ordenadorVia('nome')">Nome</a></th>
              <th class="success"><a href='' ng-click="ordenadorVia('descricao')">Descrição</a></th>
            </tr>
            <tr ng-class="{selecionado: categoria.selecionado}" ng-repeat="categoria in categorias | filter:busca | orderBy:criterio_ordenar:AscDesc">
              <td class="success"><input type="checkbox" ng-model="categoria.selecionado"></td>
              <td class="success" ng-model="categoria.selecionado">{@ categoria.nome @}</td>
              <td class="success">{@ categoria.descricao @}</td>
            </tr>
          </table>

        </div><br />

      </main>
    </div>
  </center>
</div>
{% endblock %}

  {% block scripts %}
    <script src="{{ url_for('static', filename='js/controllers/controlador_categorias.js')}}"></script>
  {% endblock %}
