<html ng-app="clienteListaTarefas">

  <head>
    <meta charset="utf-8" />
    <title>API - Cliente</title>

    <!-- Links CSS -->
    <link rel="stylesheet" href="template/lib/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="template/css/style.css"/>

    <!-- Scripts -->
    <script src="template/lib/js/angular.js"></script>
    <script src="template/js/app.js"></script>
    <script src="template/js/controllers/controladorToDo.js"></script>

  </head>

<body ng-controller="controladorToDo">
  <center>
    <div class="jumbotron">
      <main>
        <h3 ng-if="tarefas.length > 0">Minha agenda de tarefas</h3><br>

        <!-- Se não houverem dados -->
        <div ng-if="tarefas.length == 0">
          <h1>Vamos começar?</h1>
          <h3>Escreva sua primeira tarefa e clique em "Adicionar tarefa"</h3>
          <h2>Organize-se mais rápido ;)</h2>
        </div>

        <!-- Apenas se houverem tarefas -->
        <div ng-if="tarefas.length > 0">

          <!-- Campo de pesquisa -->
          <input class="form-control" type="text" ng-model="busca" placeholder="Pesquisar"/><br>

          <!-- Tabela principal -->
          <table class="table table-striped table-hover table-condensed" border="1">
            <tr>
              <th class="success">Seletor</th>
              <th class="success"><a href='' ng-click="ordenadorVia('titulo')">Título</a></th>
              <th class="success"><a href='' ng-click="ordenadorVia('descricao')">Descrição</a></th>
            </tr>
            <tr ng-class="{selecionado: tarefa.selecionado}" ng-repeat="tarefa in tarefas | filter:busca | orderBy:criterio_ordenar:AscDesc">
              <td class="success"><input type="checkbox" ng-model="tarefa.selecionado"></td>
              <td class="success" ng-model="tarefa.selecionado">{{tarefa.titulo}}</td>
              <td class="success">{{tarefa.descricao}}</td>
            </tr>
          </table>

        </div><br />

        <!-- Entradas de dados -->
        <input class="form-control" type="text" ng-model="tarefa.titulo" placeholder="Título" /><br/>
        <input class="form-control" type="text" ng-model="tarefa.descricao" placeholder="Descrição"/><br/>

          <!-- Informação dinâmica -->
          <span><b><i>{{tarefa.titulo+ ' - ' + tarefa.descricao}}</b></i></span><br><br>

        <!-- Comandos / Botões de ações -->
        <button class="btn btn-lg btn-primary" ng-disabled="!tarefa.titulo || !tarefa.descricao" ng-click="addTarefa(tarefa)">
          Adicionar Tarefa
        </button>

        <button class="btn btn-lg btn-danger" ng-if="tarefas.length > 0" ng-click="delTarefas(tarefas)">
          Deletar Tarefa
        </button><br/>

        <!-- Adicionar caso encontre necessidade -->
        <!-- <button class="btn btn-lg btn-success" ng-disabled="!tarefa.titulo || !tarefa.descricao" ng-click="updTarefas(tarefas, tarefa)">
          Alterar Tarefa
        </button> -->
      </main>
    </div>
  </center>
</body>
</html>
