{% extends "base.html" %}

    {% block title %}API - Cliente{% endblock %}

{% block controller %}
<div ng-controller="controlador_index">
  <center>
    <div class="jumbotron">
      <main>
        <h3 ng-if="categorias.length > 0">Lista de tarefas</h3><br>

        <!-- Se não houverem dados -->
        <div ng-if="categorias.length == 0">
          <h1>Vamos começar?</h1>
          <h3>Escreva sua primeira categoria clicando em "Adicionar categoria"</h3>
          <h2>Organize-se mais rápido ;)</h2><br>
          <h4><a href="{{ url_for('categorias') }}">Adicionar Categoria</a></h4>
        </div>

        <!-- Apenas se houverem categorias -->
        <div ng-if="categorias.length > 0">
{% endblock %}

          {% block nav %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="" data-toggle="modal" data-target=".bs-example-modal-lg">Adicionar</a></li>
            <li class="active"><a href="" ng-if="tarefas.length > 0" ng-click="delTarefas(tarefas)">Excluir</a></li>
            <li class="active"><a href="{{ url_for('categorias') }}">Gerenciar categorias</a></li>
          </ul>
          {% endblock %}

          {% block modalheader %}
          <h3>Adicionar tarefa</h3>
          {% endblock %}

          {% block modalbody %}
          <input class="form-control" type="text" ng-model="tarefa.titulo" placeholder="Título" /><br/>
          <input class="form-control" type="text" ng-model="tarefa.descricao" placeholder="Descrição"/><br/>
          <select class="form-control" ng-model="tarefa.categoria" ng-options="n.nome as n.nome for n in categorias">
            <option value="">Selecione a categoria</option>
          </select><br>
          {% endblock %}

          {% block modalfooter %}
          <button class="btn btn-lg btn-primary" ng-disabled="!tarefa.titulo || !tarefa.descricao" ng-click="addTarefa(tarefa)" data-dismiss="modal">
            Adicionar tarefa
          </button>
          {% endblock %}

          {% block content %}
            <!-- Tabela principal -->
          <span ng-repeat="categoria in categorias">
            <div class="panel panel-info">
              <div class="panel-heading"><h3 class="panel-title">{@ categoria.nome @}</h3></div>
              <div class="panel-body">
                <div>
                  <table class="table table-striped table-hover table-condensed" border="1">

                    <tr>
                      <th>Seletor</th>
                      <th><a href='' ng-click="ordenadorVia('nome')">Nome</a></th>
                      <th><a href='' ng-click="ordenadorVia('descricao')">Descrição</a></th>
                    </tr>

                    <tr ng-repeat="tarefa in tarefas | filter:busca | orderBy:criterio_ordenar:AscDesc"
                        ng-if="tarefa.categoria == categoria.nome"
                        ng-class="{selecionado: tarefa.selecionado}">

                      <td><input type="checkbox" ng-model="tarefa.selecionado"></td>
                      <td ng-model="tarefa.selecionado">{@ tarefa.titulo @}</td>
                      <td>{@ tarefa.descricao @}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </span>
          <br />
        </div>

      </main>
    </div>
  </center>
</div>
            {% endblock %}
  <!-- Scripts -->
  {% block scripts %}
  <script src="{{ url_for('static', filename='js/controllers/controlador_index.js')}}"></script>
  {% endblock %}
</html>
