
body{
  background-image: url('../img/wallpaper.jpg');
}

main{
  padding: 10px;
}
.jumbotron{
  border: 1px dashed;
  margin-top: 3%;
  margin-left: 12%;
  margin-right: 12%;
}

.selecionado{
  font-weight: bold;
}

.panel-body{
  background-color: #f5f5f5;;
}
